  ],
  "mallaAreas": [
    {
      "name": "Ámbito de acción l: Clínico",
      "backgroundColor": "#ee719e"
    },
    {
      "name": "Ámbito de acción ll: Educación para la Promoción, Prevención y Recuperación",
      "backgroundColor": "#52d6fc"
    },
    {
      "name": "Ámbito de acción lll: Educación General e Inglés",
      "backgroundColor": "#fff76b"
    },
    {
      "name": "Integradores",
      "backgroundColor": "#695db1"
    }
  ]
}
